*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.kotlin
*.keystore
*.jks
keystore.properties
secrets.properties
play-service-account.json
*service-account*.json
RELEASE_NOTES.txt
app/src/main/play/release-notes/
